/*
/.**

!/.claude
!/.claude/CLAUDE.md
!/.claude/settings.json
!/.claude/commands
!/.claude/commands/**

!/.config
!/.config/git
!/.config/git/**
!/.config/nvim
!/.config/nvim/**

!/.gitignore
!/.zshrc

