/*
/.**

!/.claude/
/.claude/*
!/.claude/CLAUDE.md
!/.claude/LICENSE.md
!/.claude/settings.json
!/.claude/agents
!/.claude/agents/**
!/.claude/commands/
!/.claude/commands/**
!/.claude/scripts
!/.claude/scripts/**
!/.claude/skills
!/.claude/skills/**

!/.config/
/.config/*
!/.config/git
!/.config/git/**
!/.config/home-manager
!/.config/home-manager/**
/.config/home-manager/result
!/.config/lazygit
!/.config/lazygit/**
!/.config/nvim
!/.config/nvim/**

!/.gitignore
!/.profile.common
!/LICENSE
!/README.md
