/*
/.**

!/.claude
!/.claude/CLAUDE.md
!/.claude/settings.json
!/.claude/commands
!/.claude/commands/**

!/.config
!/.config/git
!/.config/git/**
!/.config/home-manager
!/.config/home-manager/**
!/.config/nvim
!/.config/nvim/**

!/.gitignore
!/.profile.common
!/LICENSE
!/README.md
